.DS_Store

# ignore all files
# except for *.md and all files in src and bin
examples/*/*
!examples/*/*.md
!examples/*/addons.make
!examples/*/bin
!examples/*/src
application/*/*
!application/*/*.md
!application/*/addons.make
!application/*/bin
!application/*/src

# ignore all *.app files inside of bin folders
*.app