.DS_Store

# ignore all files
# except for *.md and all files in src and bin
examples/*/*
!examples/*/*.md
!examples/*/addons.make
!examples/*/bin
!examples/*/src
!examples/*/images
application/*/*
!application/*/*.md
!application/*/addons.make
!application/*/bin
!application/*/src
!application/*/images

# ignore all *.app files inside of bin folders
*.app

# ignore folder with local tests
tests
/application/timely-matter/bin/data/**/*/