<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include head.html %}
    </head>
    <body>
      <header class="page-header">
        <a href="{{ "/" | prepend: site.baseurl }}">
          <h1>timely matter</h1>
          <h2>Experiments on the entanglements of technology,<br/>
  time and the present moment</h2>
        </a>
      </header>
      <section class="page-container">
        <section class="content-container">
          {% include nav.html %}
          <section class="page-content">
              {{  content }}  
          </section>
        </section>
      </section>
    </body>
</html>
