body
  position: relative

.page-header
  position: fixed
  top: 0
  width: 100%
  z-index: 9999

.page-container
  @include outer-container
  padding: 0 em(20)

.content-container
  @include fill-parent
  margin-top: em(200)

.page-navigation
  @include span-columns(3)
  margin-top: em(10)

.page-content
  @include span-columns(9)