@import "../colors"
@import "../fonts"

html
  line-height: 1.6

body
  font-family: $roboto
  font-weight: 300

h1, h2, h3
  font-family: $roboto-mono
h1, h2
  font-weight: 700
h3
  font-weight: 300
h1
  font-size: em(24)
h2, h3
  font-size: em(21)
h4, h5, h6
  font-size: em(18)
  font-weight: 700
  margin-bottom: 0
p
  margin: 0 0 1em 0
iframe
  margin: 1em 0 2em 0

.page-content
  h1
    display: inline-block
    margin-top: 0
    &::after
      background-color: $dark-gray
      content: ""
      display: block
      height: 1px
      position: relative
      width: auto
      top: em(-3)
  &>h1
    margin-top: em(-6)